nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 10px;
  border-bottom: 1px solid $text_color;
  div:first-child {
    display: flex;
    img {
      margin-right: 10px;
    }
    span {
      align-self: center;
      font-size: 25px;
    }
  }
  div:nth-child(2) {
    a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      color: $text_color;
      margin-left: 20px;
      i {
        font-size: 15px;
      }
    }
    button {
      font-size: 18px;
      margin-left: 20px;
      background-color: white;
      font-weight: 600;
      position: relative;
      padding-left: 40px;
      img {
        width: 25px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
      }
    }
  }
}
